{% from 'macros.link' import link %}
{% extends 'master' %}
{% block content %}
<h2>Home Page</h2>
<div class="posts-wrapper">
    {% for project in projects %} 
      <div class="post">
        <h3><a href="/projects/{{ project.id }}"> {{ project.name }} </a> | {{ project.spices }} / {{ project.askedSpices }} </h3>
        <p> {{ project.description | truncate(150) }} </p>
      </div>
    {% else %}
        <h4> No projects found </h4>
    {% endfor %}
    <span class="float-left">{{ link('See all projects', '/projects', 'primary') }}</span>
</div>
{% endblock %}