{% extends 'master' %}
{% block content %}
<h2>Projects</h2>
<div class="posts-wrapper">
    {% for project in projects %} 
      <div class="post">
        <h2><a href="/projet/{{ project.id }}"> {{ project.name }} </a> | {{ project.spices }} </h2> 
        <p> {{ project.description }} </p>
        <p> Members: {{ project.members }}</p>
      </div>
    {% else %}
        <h4> No projects found </h4>
    {% endfor %}
</div>
{% endblock %}