{% from 'macros.link' import link %}
{% extends 'master' %}
{% block content %}
<span class="float-right">{{ link('Create Project', 'projects/create', 'primary') }}</span>
<h2>Projects</h2>
<div class="posts-wrapper">
    {% for project in projects %} 
      <div class="post">
        <h2><a href="/projects/{{ project.id }}"> {{ project.name }} </a> | {{ project.spices }} / {{ project.askedSpices }} </h2> 
        <p> {{ project.description | truncate(150) }} </p>
        <p> Members: {{ project.members }}</p>
      </div>
    {% else %}
        <h4> No projects found </h4>
    {% endfor %}
</div>
{% endblock %}