<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Projects</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1>Projects</h1>
        <ul class="list-group active" th:each="task,iter : ${projects}">
            <ul class="list-group-item">
                <a th:href="@{'/project/' + ${projects[iter.index].id}}"><strong th:text="${projects[iter.index].name}"></strong></a>
                <ul style="padding-left: 0;">
                    <li class="list-group-item">
                        <strong>
                            <span class="label label-info" style="margin-right: 10px;">Status</span>
                        </strong>
                        <span th:if="${projects[iter.index].status == 0}">En Création</span>
                        <span th:if="${projects[iter.index].status == 1}">Lancé</span>
                    </li>
                </ul>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Description</span></strong><span th:text="${projects[iter.index].description}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Asked Spices</span></strong><span th:text="${projects[iter.index].spices}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Current Spices</span></strong><span th:text="${projects[iter.index].currentSpices}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">FollowUp</span></strong><span th:text="${projects[iter.index].followUp}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp</span></strong><span th:text="${projects[iter.index].DateFollowUp}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">FollowUp 1</span></strong><span th:text="${projects[iter.index].followUp1}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp 1</span></strong><span th:text="${projects[iter.index].DateFollowUp1}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Delivery</span></strong><span th:text="${projects[iter.index].delivery}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Date Delivery</span></strong><span th:text="${projects[iter.index].dateDelivery}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Developer</span></strong><span th:text="${users[iter.index].email}"></span></li>
            </ul>
        </ul>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>