<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Edit Project</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<section class="section"><div class="container">
    <div th:if="${notFound != null}">
        <div class="notification is-danger">
            <span th:text="${notFound}"></span>
        </div>
    </div>
    <div th:if="${notFound == null}">

        <h1 class="title is-2 border">Project <strong th:text="${project.name}"></strong></h1>
        <div id="alert-project" class="notification is-danger" style="display: none"></div>
        <form>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" id="name" type="text" autofocus="true" required="true" th:value="${project.name}" />
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Current Spices</label>
                        <div class="control">
                            <input type="number" name="currentSpices" id="currentSpices" class="input"
                                   required="true" th:value="${project.currentSpices}"/>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Spices</label>
                        <div class="control">
                            <input type="number" name="spices" id="spices" class="input" required="true" th:value="${project.spices}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="description" class="label">Description</label>
                    <textarea class="textarea" rows="5" id="description"
                              required="true" th:inline="text">[[${project.description}]]</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label" for="dateFollowUp">Date FollowUp</label>
                <div class="control">
                    <input type="date" name="dateFollowUp" id="dateFollowUp" class="input" required="true"/>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="description" class="label">Description</label>
                    <textarea class="textarea" rows="5" id="followUp" required="true" th:inline="text">[[${project.followUp}]]</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label" for="dateFollowUp">Date FollowUp 1</label>
                <div class="control">
                    <input type="date" name="dateFollowUp1" id="dateFollowUp1" class="input" required="true"/>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="description" class="label">Description</label>
                    <textarea class="textarea" rows="5" id="followUp1" required="true" th:inline="text">[[${project.followUp1}]]</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label" for="dateFollowUp">Date FollowUp 1</label>
                <div class="control">
                    <input type="date" name="dateDelivery" id="dateDelivery" class="input"
                           required="true"/>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="description" class="label">Description</label>
                    <textarea class="textarea" rows="5" id="delivery" required="true" th:inline="text">[[${project.delivery}]]</textarea>
                </div>
            </div>
            <button class="button is-link" id="project-btn" type="submit">Edit</button>
            <button id="delete-button" class="button is-danger">Delete</button>
        </form>
    </div>
</div>
</section>
<div class="modal" id="deleteModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Suppression du projet</p>
        </header>
        <section class="modal-card-body">
            Êtes-vous sûr de vouloir supprimer le projet <strong th:text="${project.name}"></strong> ?
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger" id="deleteProjectButtonModal">Supprimer</button>
            <button class="button" id="closeDeleteModalButton">Annuler</button>
        </footer>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    $(document).ready(() => {
        /*<![CDATA[*/
        const dateFollowUp = [[${project.dateFollowUp}]]
        const dateFollowUp1 = [[${project.dateFollowUp1}]]
        const dateDelivery = [[${project.dateDelivery}]]
        const id = [[${project.id}]]
        /*]]>*/
        const date = str => `${str}T00:00:00`

        document.getElementById('dateFollowUp').value = `${dateFollowUp.year}-${(dateFollowUp.monthValue + "").length === 1 ? '0' + dateFollowUp.monthValue : dateFollowUp.monthValue }-${(dateFollowUp.dayOfMonth + "").length === 1 ? '0' + dateFollowUp.dayOfMonth: dateFollowUp.dayOfMonth }`
        document.getElementById('dateFollowUp1').value = `${dateFollowUp1.year}-${(dateFollowUp1.monthValue + "").length === 1 ? '0' + dateFollowUp1.monthValue : dateFollowUp1.monthValue }-${(dateFollowUp1.dayOfMonth + "").length === 1 ? '0' + dateFollowUp1.dayOfMonth: dateFollowUp1.dayOfMonth }`
        document.getElementById('dateDelivery').value = `${dateDelivery.year}-${(dateDelivery.monthValue + "").length === 1 ? '0' + dateDelivery.monthValue : dateDelivery.monthValue }-${(dateDelivery.dayOfMonth + "").length === 1 ? '0' + dateDelivery.dayOfMonth: dateDelivery.dayOfMonth }`

        $('#alert-project').hide()

        // TODO(carlendev) add modal for deletion
        $('#delete-button').click(function (e) {
            e.preventDefault();
            $("#deleteModal").addClass("is-active")
        })


        $("#closeDeleteModalButton").click(function (e) {
            $("#deleteModal").removeClass("is-active")
        })

        $("#deleteProjectButtonModal").click(function(e) {
            e.preventDefault()
            $(this).prop('disabled', true)
            $.ajax({
                type: 'delete',
                url: `/api/projects/${id}`,
                success: () => {
                window.location.href = `/project/my`
                $(this).prop('disabled', false)
            },
                error: () => {
                    $('#alert-project').show().html(`<ul><li>Cannot delete project</li></ul>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        $('#project-btn').click(function (e) {
            $(this).prop('disabled',true)
            e.preventDefault()
            const nameVal = $('#name').val()
            const name = !nameVal.length ? null : nameVal;
            const spices = $('#spices').val()
            const description = $('#description').val()
            const followUp = $('#followUp').val()
            const dateFollowUp = $('#dateFollowUp').val()
            const followUp1 = $('#followUp1').val()
            const dateFollowUp1 = $('#dateFollowUp1').val()
            const delivery = $('#delivery').val()
            const dateDelivery = $('#dateDelivery').val()
            $.ajax({
                type: 'put',
                url: `/api/projects/${id}`,
                data: JSON.stringify({ name,
                    spices,
                    description,
                    followUp,
                    dateFollowUp: date(dateFollowUp) != 'T00:00:00' ? date(dateFollowUp) : undefined,
                    followUp1,
                    dateFollowUp1: date(dateFollowUp1) != 'T00:00:00' ? date(dateFollowUp1) : undefined,
                    delivery,
                    dateDelivery: date(dateDelivery) != 'T00:00:00' ? date(dateDelivery) : undefined }),
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    window.location.href = `/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.errors
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#alert-project').show().html(`<ul><li>Wrong date or spice format</li></ul>`)
                        return;
                    }
                    const errors = responseError.reduce((acc, curr) => {
                        acc.push(`${curr.field} ${curr.defaultMessage}`)
                        return acc
                    }, []);
                    $('#alert-project').show().html(`<ul>${errors.map(e => `<li>${e}</li>`).join('')}</ul>`)
                    $(this).prop('disabled', false)
                }
            })
        })
    })
</script>
</body>
</html>
