<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Projects</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1>My Projects @<span th:text="${username}"></span></h1>
        <ul class="list-group active" th:each="task,iter : ${projects}">
            <ul class="list-group-item">
                <a th:href="@{'/project/edit/' + ${projects[iter.index].id}}"><strong th:text="${projects[iter.index].name}"></strong></a>
                <ul>
                    <li class="list-group-item"><strong>Description -> </strong><span th:text="${projects[iter.index].description}"></span></li>
                    <li class="list-group-item"><strong>Asked Spices -> </strong><span th:text="${projects[iter.index].spices}"></span></li>
                    <li class="list-group-item"><strong>Current Spices -> </strong><span th:text="${projects[iter.index].currentSpices}"></span></li>
                    <li class="list-group-item"><strong>FollowUp -> </strong><span th:text="${projects[iter.index].followUp}"></span></li>
                    <li class="list-group-item"><strong>Date FollowUp -> </strong><span th:text="${projects[iter.index].DateFollowUp}"></span></li>
                    <li class="list-group-item"><strong>FollowUp 1 -> </strong><span th:text="${projects[iter.index].followUp1}"></span></li>
                    <li class="list-group-item"><strong>Date FollowUp 1 -> </strong><span th:text="${projects[iter.index].DateFollowUp1}"></span></li>
                    <li class="list-group-item"><strong>Delivery -> </strong><span th:text="${projects[iter.index].delivery}"></span></li>
                    <li class="list-group-item"><strong>Date Delivery -> </strong><span th:text="${projects[iter.index].dateDelivery}"></span></li>
                    <li class="list-group-item"><strong>Developer -> </strong><span th:text="${username}"></span></li>
                </ul>
            </ul>
        </ul>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>