<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Project | Bets</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<section class="section">
    <div class="container">
        <div th:if="${notFound != null}">
            <div class="notification is-danger">
                <span th:text="${notFound}"></span>
            </div>
        </div>
        <div th:if="${notFound == null}">
            <h1 class="title is-2 border">Project <span th:text="${project.name}"></span></h1>
            <h4 class="title is-4">Developer: <span th:text="${user.email}"></span></h4>
            <h6 class="title is-6 has-text-centered">
                <span th:if="${project.status == 0}">En Création</span>
                <span th:if="${project.status == 1}">Lancé</span>
                <span th:if="${project.status == 2}">Validé</span>
                <span th:if="${project.status == 3}">Follow-Up 1</span>
                <span th:if="${project.status == 4}">Follow-Up 2</span>
                <span th:if="${project.status == 5}">Delivery</span>
                <span th:if="${project.status == 6}">Terminé</span>
                <span th:if="${project.status == 7}">Terminé</span>
            </h6>
            <progress th:if="${project.status == 0}" class="progress is-warning" value="0" max="100">En Création</progress>
            <progress th:if="${project.status == 1}" class="progress is-info" value="10" max="100">Lancé</progress>
            <progress th:if="${project.status == 2}" class="progress is-link" value="20" max="100">Validé</progress>
            <progress th:if="${project.status == 3}" class="progress is-info" value="40" max="100">Follow-Up 1</progress>
            <progress th:if="${project.status == 4}" class="progress is-link" value="60" max="100">Follow-Up 2</progress>
            <progress th:if="${project.status == 5}" class="progress is-link" value="80" max="100">Delivery</progress>
            <progress th:if="${project.status == 6}" class="progress is-success" value="100" max="100">Terminé</progress>
            <progress th:if="${project.status == 7}" class="progress is-success" value="100" max="100">Terminé</progress>
            <div class="columns">
                <div class="column">
                    <strong>Description:</strong>
                    <p>
                        <span th:text="${project.description}"></span>
                    </p>
                </div>
                <div class="column">
                    <strong>Asked spices</strong>
                    <p>
                        <span th:text="${project.spices}"></span>
                    </p>
                </div>
                <div class="column">
                    <strong>Current spices</strong>
                    <p>
                        <span th:text="${project.currentSpices}"></span>
                    </p>
                </div>
            </div>
            <hr/>
            <div class="columns">
                <div class="column is-4">
                    <strong>Follow up <span th:text="${project.DateFollowUp}"></span></strong>
                    <p>
                        <span th:text="${project.followUp}"></span>
                    </p>
                </div>
                <div class="column is-4">
                    <strong>Follow up 1 <span th:text="${project.DateFollowUp1}"></span></strong>
                    <p>
                        <span th:text="${project.followUp1}"></span>
                    </p>
                </div>
                <div class="column is-4">
                    <strong>Delivery <span th:text="${project.DateDelivery}"></span></strong>
                    <p>
                        <span th:text="${project.delivery}"></span>
                    </p>
                </div>
            </div>
            <h2 class="title is-2 border">Bets</h2>
            <div th:if="${canBet == true}">
                <div id="betError" class="notification is-danger" style="display: none;"></div>
                <div class="select">
                    <select id="bet">
                        <option th:text="5"></option>
                        <option th:text="15"></option>
                    </select>
                </div>
                <button class="button is-link" id="bet-btn">Bet</button>
            </div>
            <div class="content">
                <div id="betDeletionError" class="has-text-danger" style="display: none;"></div>
                <ul th:each="task,iter : ${bets}">
                    <li>
                        <div style="display: flex; align-items: center; flex-direction: row; justify-content: flex-start">
                            <span style="margin-left: 10px" th:text="${bets[iter.index].spices}"></span>
                            <span style="margin-left: 10px"> - </span>
                            <strong style="margin-left: 10px" th:text="${bets[iter.index].username}"></strong>
                            <button style="margin-left: 10px" class="button is-danger delete-btn-bet" th:name="@{'delete-' + ${bets[iter.index].id}}">Delete</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    $(document).ready(() => {
        /*<![CDATA[*/
        const id = [[${project.id}]]
        /*]]>*/

        $('#bet-btn').click(function (e) {
            $(this).prop('disabled', true)
            e.preventDefault()
            const betText = $('#bet').find(":selected").text()
            const bet = +betText
            $.ajax({
                type: 'post',
                url: `/bet/project/${id}`,
                data: JSON.stringify({ spices: bet, id }),
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    window.location.href = `/bet/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.error
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#betError').show().html(`<h5>Wrong bet format</h5>`)
                        return;
                    }
                    $('#betError').show().html(`<h5>${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        $('.delete-btn-bet').click(function (e) {
            $(this).prop('disabled', true)
            e.preventDefault()
            const idDelete = $(this).attr('name').split('-').pop();
            $.ajax({
                type: 'delete',
                url: `/api/bets/${idDelete}`,
                success: () => {
                    window.location.href = `/bet/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.error
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#betDeletionError').show().html(`<h5 class="title is-5">Wrong bet format</h5>`)
                        return;
                    }
                    $('#betDeletionError').show().html(`<h5 class="title is-5">${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })
    })
</script>
</body>
</html>
