{% from 'macros.link' import link %}
{% extends 'master' %}
{% block content %}
<div class="post">
    <span class="float-right">{{ link('Projects List', '/projects', 'primary') }}</span>
    <h2>{{ project.name }}</h2>
    <hr>
    <p>{{ project.description }}</p>
</div>
{% endblock %}