<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Admin</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<section class="section">
    <div class="container">
        <h1 class="title is-2 border">Projects list</h1>
        <div class="columns">
            <div class="column is-6" th:each="task,iter : ${projects}">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <a th:href="@{'/admin/project/' + ${projects[iter.index].id}}"><strong th:text="${projects[iter.index].name}"></strong></a> - <span th:text="${projects[iter.index].dateDelivery}"></span>
                            <br/>
                            <span th:text="${projects[iter.index].description}"></span>
                            <progress th:if="${projects[iter.index].status == 0}" class="progress is-warning" value="0" max="100">En Création</progress>
                            <progress th:if="${projects[iter.index].status == 1}" class="progress is-info" value="10" max="100">Lancé</progress>
                            <progress th:if="${projects[iter.index].status == 2}" class="progress is-link" value="20" max="100">Validé</progress>
                            <progress th:if="${projects[iter.index].status == 3}" class="progress is-info" value="40" max="100">Follow-Up 1</progress>
                            <progress th:if="${projects[iter.index].status == 4}" class="progress is-link" value="60" max="100">Follow-Up 2</progress>
                            <progress th:if="${projects[iter.index].status == 5}" class="progress is-link" value="80" max="100">Delivery</progress>
                            <progress th:if="${projects[iter.index].status == 6}" class="progress is-success" value="100" max="100">Terminé</progress>
                            <progress th:if="${projects[iter.index].status == 7}" class="progress is-success" value="100" max="100">Terminé</progress>
                            <strong><span class="label label-info" style="margin-right: 10px;">FollowUp</span></strong><span th:text="${projects[iter.index].followUp}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp</span></strong><span th:text="${projects[iter.index].DateFollowUp}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">FollowUp 1</span></strong><span th:text="${projects[iter.index].followUp1}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp 1</span></strong><span th:text="${projects[iter.index].DateFollowUp1}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Delivery</span></strong><span th:text="${projects[iter.index].delivery}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Date Delivery</span></strong><span th:text="${projects[iter.index].dateDelivery}"></span>
                        </div>
                        <div class="media-right">
                            <span th:text="${projects[iter.index].currentSpices}"></span>/<span th:text="${projects[iter.index].spices}"></span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <h1 class="title is-2 border">Finish Projects list</h1>
        <div class="columns">
            <div class="column is-6" th:each="task,iter : ${finishProjects}">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <a th:href="@{'/admin/project/' + ${finishProjects[iter.index].id}}"><strong th:text="${finishProjects[iter.index].name}"></strong></a> - <span th:text="${finishProjects[iter.index].dateDelivery}"></span>
                            <br/>
                            <span th:text="${finishProjects[iter.index].description}"></span>
                            <progress th:if="${finishProjects[iter.index].status == 0}" class="progress is-warning" value="0" max="100">En Création</progress>
                            <progress th:if="${finishProjects[iter.index].status == 1}" class="progress is-info" value="10" max="100">Lancé</progress>
                            <progress th:if="${finishProjects[iter.index].status == 2}" class="progress is-link" value="20" max="100">Validé</progress>
                            <progress th:if="${finishProjects[iter.index].status == 3}" class="progress is-info" value="40" max="100">Follow-Up 1</progress>
                            <progress th:if="${finishProjects[iter.index].status == 4}" class="progress is-link" value="60" max="100">Follow-Up 2</progress>
                            <progress th:if="${finishProjects[iter.index].status == 5}" class="progress is-link" value="80" max="100">Delivery</progress>
                            <progress th:if="${finishProjects[iter.index].status == 6}" class="progress is-success" value="100" max="100">Terminé</progress>
                            <progress th:if="${finishProjects[iter.index].status == 7}" class="progress is-success" value="100" max="100">Terminé</progress>
                            <strong><span class="label label-info" style="margin-right: 10px;">FollowUp</span></strong><span th:text="${finishProjects[iter.index].followUp}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp</span></strong><span th:text="${finishProjects[iter.index].DateFollowUp}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">FollowUp 1</span></strong><span th:text="${finishProjects[iter.index].followUp1}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp 1</span></strong><span th:text="${finishProjects[iter.index].DateFollowUp1}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Delivery</span></strong><span th:text="${finishProjects[iter.index].delivery}"></span>
                            <strong><span class="label label-info" style="margin-right: 10px;">Date Delivery</span></strong><span th:text="${finishProjects[iter.index].dateDelivery}"></span>
                        </div>
                        <div class="media-right">
                            <span th:text="${finishProjects[iter.index].currentSpices}"></span>/<span th:text="${finishProjects[iter.index].spices}"></span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
