<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Admin | Edit Project</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template" style="margin-bottom: 50px;">
        <div th:if="${notFound != null}">
            <div class="alert alert-danger">
                <span th:text="${notFound}"></span>
            </div>
        </div>
        <div th:if="${notFound == null}">
            <h2 th:text="'Owner ' + ${user.email}"></h2>
            <div id="statusError" class="alert alert-danger" style="display: none;"></div>
            <select id="status" class="form-control" style="margin-bottom: 15px;">
                <option th:selected="${project.status == 1}" th:text="'Lance'"></option>
                <option th:selected="${project.status == 0}" th:text="'En Creation'"></option>
                <option th:selected="${project.status == 2}" th:text="'Valide'"></option>
                <option th:selected="${project.status == 3}" th:text="'Follow-Up 1'"></option>
                <option th:selected="${project.status == 4}" th:text="'Follow-Up 2'"></option>
                <option th:selected="${project.status == 5}" th:text="'Delivery'"></option>
                <option th:selected="${project.status == 6}" th:text="'Termine'"></option>
                <option th:selected="${project.status == 7}" th:text="'Close'"></option>
            </select>
            <div th:if="${isDone == false}">
                <button id="status-btn" class="btn btn-info">Update</button>
            </div>
            <form>
                <fieldset>
                    <h1>Project <span th:text="${project.name}"></span></h1>
                    <button id="delete-button" class="btn btn-danger">Delete</button>
                    <div id="alert-project" class="alert alert-danger" style="display: none;">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control input-lg"
                               required="true" th:value="${project.name}" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <label for="spices">Spices</label>
                        <input type="number" name="spices" id="spices" class="form-control input-lg"
                               required="true" th:value="${project.spices}"/>
                    </div>
                    <div class="form-group">
                        <label for="currentSpices">Current Spices</label>
                        <input type="number" name="currentSpices" id="currentSpices" class="form-control input-lg"
                               required="true" th:value="${project.currentSpices}"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="5" id="description"
                                  required="true" th:inline="text">[[${project.description}]]</textarea>
                    </div>
                    <div class="form-group">
                        <label for="dateFollowUp">Date FollowUp</label>
                        <input type="date" name="dateFollowUp" id="dateFollowUp" class="form-control input-lg"
                               required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="followUp">FollowUp</label>
                        <textarea class="form-control" rows="5" id="followUp"
                                  required="true" th:inline="text">[[${project.followUp}]]</textarea>
                    </div>
                    <div class="form-group">
                        <label for="dateFollowUp1">Date FollowUp 1</label>
                        <input type="date" name="dateFollowUp1" id="dateFollowUp1" class="form-control input-lg"
                               required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="followUp1">FollowUp 1</label>
                        <textarea class="form-control" rows="5" id="followUp1"
                                  required="true" th:inline="text">[[${project.followUp1}]]</textarea>
                    </div>
                    <div class="form-group">
                        <label for="dateDelivery">Date Delivery</label>
                        <input type="date" name="dateDelivery" id="dateDelivery" class="form-control input-lg"
                               required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="delivery">Delivery</label>
                        <textarea class="form-control" rows="5" id="delivery"
                                  required="true" th:inline="text">[[${project.delivery}]]</textarea>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Edit"
                                   id="project-btn"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    $(document).ready(() => {
        /*<![CDATA[*/
        const dateFollowUp = [[${project.dateFollowUp}]]
        const dateFollowUp1 = [[${project.dateFollowUp1}]]
        const dateDelivery = [[${project.dateDelivery}]]
        const id = [[${project.id}]]
        /*]]>*/
        const date = str => `${str}T00:00:00`

        $('#dateDelivery').val(`${dateDelivery.year}-${dateDelivery.monthValue}-${dateDelivery.dayOfMonth}`)
        $('#dateFollowUp').val(`${dateFollowUp.year}-${dateFollowUp.monthValue}-${dateFollowUp.dayOfMonth}`)
        $('#dateFollowUp1').val(`${dateFollowUp1.year}-${dateFollowUp1.monthValue}-${dateFollowUp1.dayOfMonth}`)

        $('#alert-project').hide()

        // TODO(carlendev) add modal for deletion
        $('#delete-button').click(function (e) {
            e.preventDefault()
            $(this).prop('disabled', true)
            $.ajax({
                type: 'delete',
                url: `/api/projects/${id}`,
                success: () => {
                    window.location.href = `/project/my`
                    $(this).prop('disabled', false)
                },
                error: () => {
                    $('#alert-project').show().html(`<ul><li>Cannot delete project</li></ul>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        const statusState = [
		{ status: 'En Creation', id: 0 },
		{ status: 'Lance', id: 1 },
		{ status: 'Valide', id: 2 },
		{ status: 'Follow-Up 1', id: 3 },
		{ status: 'Follow-Up 2', id: 4 },
		{ status: 'Delivery', id: 5 },
		{ status: 'Termine', id: 6 }
        ]

        $('#status-btn').click(function (e) {
            $(this).prop('disabled',true)
            e.preventDefault()
            const statusText = $('#status').find(":selected").text()
            const status = statusState.find(e => e.status === statusText).id
            $.ajax({
                type: 'post',
                url: `/api/admin/projects/status`,
                data: JSON.stringify({ status, id }),
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    window.location.href = `/admin/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.message
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#statusError').show().html(`<h5>Wrong status format</h5>`)
                        return;
                    }
                    $('#statusError').show().html(`<h5>${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        $('#project-btn').click(function (e) {
            $(this).prop('disabled',true)
            e.preventDefault()
            const nameVal = $('#name').val()
            const name = !nameVal.length ? null : nameVal;
            const spices = $('#spices').val()
            const description = $('#description').val()
            const followUp = $('#followUp').val()
            const dateFollowUp = $('#dateFollowUp').val()
            const followUp1 = $('#followUp1').val()
            const dateFollowUp1 = $('#dateFollowUp1').val()
            const delivery = $('#delivery').val()
            const dateDelivery = $('#dateDelivery').val()
            $.ajax({
                type: 'put',
                url: `/api/projects/${id}`,
                data: JSON.stringify({ name,
                    spices,
                    description,
                    followUp,
                    dateFollowUp: date(dateFollowUp) != 'T00:00:00' ? date(dateFollowUp) : undefined,
                    followUp1,
                    dateFollowUp1: date(dateFollowUp1) != 'T00:00:00' ? date(dateFollowUp1) : undefined,
                    delivery,
                    dateDelivery: date(dateDelivery) != 'T00:00:00' ? date(dateDelivery) : undefined }),
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    window.location.href = `/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.errors
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#alert-project').show().html(`<ul><li>Wrong date or spice format</li></ul>`)
                        return;
                    }
                    const errors = responseError.reduce((acc, curr) => {
                        acc.push(`${curr.field} ${curr.defaultMessage}`)
                        return acc
                    }, []);
                    $('#alert-project').show().html(`<ul>${errors.map(e => `<li>${e}</li>`).join('')}</ul>`)
                    $(this).prop('disabled', false)
                }
            })
        })
    })
</script>
</body>
</html>
