<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Admin | Edit Project</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div th:if="${notFound != null}">
    <section class="section">
        <div class="container">
            <div class="alert alert-danger">
                <span th:text="${notFound}"></span>
            </div>
        </div>
    </section>
</div>

<div th:if="${notFound == null}">
    <section class="section">
        <div class="container">
            <h3 class="title is-3 border" th:text="'Projet ' + ${project.name}"></h3>
            <h2 class="title is-5" th:text="'Owner: ' + ${user.email}" ></h2>
            <div id="statusError" class="notification is-danger" style="display: none;"></div>
            <div class="field">
                <label for="" class="label">Status:</label>
                <div class="control">
                    <div class="select" style="margin-bottom: 15px;">
                        <select id="status" >
                            <option th:if="${project.status &lt;= 0}" th:selected="${project.status == 0}" th:text="'En Creation'"></option>
                            <option th:if="${project.status &lt;= 1}" th:selected="${project.status == 1}" th:text="'Lance'"></option>
                            <option th:if="${project.status &lt;= 2}" th:selected="${project.status == 2}" th:text="'Valide'"></option>
                            <option th:if="${project.status &lt;= 3}" th:selected="${project.status == 3}" th:text="'Follow-Up 1'"></option>
                            <option th:if="${project.status &lt;= 4}" th:selected="${project.status == 4}" th:text="'Follow-Up 2'"></option>
                            <option th:if="${project.status &lt;= 5}" th:selected="${project.status == 5}" th:text="'Delivery'"></option>
                            <option th:if="${project.status &lt;= 6}" th:selected="${project.status == 6}" th:text="'Termine'"></option>
                            <option th:if="${project.status &lt;= 7}" th:selected="${project.status == 7}" th:text="'Close'"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div th:if="${isDone == false}">
                <button id="status-btn" class="button is-link">Update status</button>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form>
                <div id="alert-project" class="notification is-danger" style="display: none;"></div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="spices" class="label">Name</label>
                                <input type="text" name="name" id="name" class="input"
                                       required="true" th:value="${project.name}" autofocus="true"/>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="spices" class="label">Spices</label>
                                <input type="number" name="spices" id="spices" class="input"
                                       required="true" th:value="${project.spices}"/>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label for="spices" class="label">Current pices</label>
                                <input type="number" name="currentSpices" id="currentSpices" class="input"
                                       required="true" th:value="${project.currentSpices}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="label">Description</label>
                        <textarea class="textarea" rows="5" id="description"
                                  required="true" th:inline="text">[[${project.description}]]</textarea>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-4">
                        <div class="field">
                            <div class="control">
                                <label class="label">FollowUp</label>
                                <input type="date" name="dateFollowUp" id="dateFollowUp" class="input"
                                       required="true" style="margin-bottom: 15px"/>
                                <textarea class="textarea" rows="5" id="followUp"
                                          required="true" th:inline="text">[[${project.followUp}]]</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <div class="control">
                                <label class="label">FollowUp 1</label>
                                <input type="date" name="dateFollowUp1" id="dateFollowUp1" class="input"
                                       required="true" style="margin-bottom: 15px"/>
                                <textarea class="textarea" rows="5" id="followUp1"
                                          required="true" th:inline="text">[[${project.followUp1}]]</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <div class="control">
                                <label class="label">Delivery</label>
                                <input type="date" name="dateDelivery" id="dateDelivery" class="input"
                                       required="true" style="margin-bottom: 15px"/>
                                <textarea class="textarea" rows="5" id="delivery"
                                          required="true" th:inline="text">[[${project.delivery}]]</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-link" id="project-btn">Edit</button>
                <button id="delete-button" class="button is-danger">Delete</button>
            </form>
            <h2 style="margin-top: 15px;" class="title is-2">Contributors</h2>
            <div class="content">
                <ul  th:each="task,iter : ${contributors}">
                    <li>
                        <strong th:text="${contributors[iter.index].username}"></strong>
                    </li>
                </ul>
            </div>
            <h2 class="title is-2">Bets</h2>
            <div class="content">
                <div id="betError" class="has-text-danger" style="display: none;"></div>
                <ul  th:each="task,iter : ${bets}">
                    <li>
                        <div style="flex-direction: row;align-items: center;justify-content: flex-start;display: flex;">
                            <span style="margin-left: 10px" th:text="${bets[iter.index].spices}"></span>
                            <strong style="margin-left: 10px" th:text="${bets[iter.index].username}"></strong>
                            <button style="margin-left: 10px" class="button is-danger delete-btn-bet" th:name="@{'delete-' + ${bets[iter.index].id}}">Delete</button>
                        </div>
                    </li>
                </ul>
            </div>
            <h2 class="title is-2">Validations</h2>
            <div class="content">
                <div id="validationError" class="has-text-danger" style="display: none;"></div>
                <ul  th:each="task,iter : ${validations}">
                    <li>
                        <div style="flex-direction: row;align-items: center;justify-content: flex-start;display: flex;">
                            <span style="margin-left: 10px" class="has-text-danger" th:if="${!validations[iter.index].valid}">NO</span>
                            <span style="margin-left: 10px" class="has-text-success" th:if="${validations[iter.index].valid}">YES</span>
                            <span style="margin-left: 10px" class="has-text-info" th:if="${validations[iter.index].status == 3}">Follow-Up 1</span>
                            <span style="margin-left: 10px" class="has-text-info" th:if="${validations[iter.index].status == 4}">Follow-Up 2</span>
                            <span style="margin-left: 10px" class="has-text-info" th:if="${validations[iter.index].status == 5}">Delivery</span>
                            <strong style="margin-left: 10px" th:text="${validations[iter.index].user.email}"></strong>
                            <button style="margin-left: 10px" th:if="${!validations[iter.index].valid}" class="button is-danger delete-btn-validation" th:name="@{'delete-' + ${validations[iter.index].id}}">Delete</button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>
</div>
<div class="modal" id="deleteModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Suppression du projet</p>
        </header>
        <section class="modal-card-body">
            Êtes-vous sûr de vouloir supprimer le projet <strong th:text="${project.name}"></strong> ?
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger" id="confirmDeleteProjectButton">Supprimer</button>
            <button class="button" id="closeDeleteModalButton">Annuler</button>
        </footer>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    $(document).ready(() => {
        /*<![CDATA[*/
        const dateFollowUp = [[${project.dateFollowUp}]]
        const dateFollowUp1 = [[${project.dateFollowUp1}]]
        const dateDelivery = [[${project.dateDelivery}]]
        const id = [[${project.id}]]
        /*]]>*/
        const date = str => `${str}T00:00:00`

        document.getElementById('dateFollowUp').value = `${dateFollowUp.year}-${(dateFollowUp.monthValue + "").length === 1 ? '0' + dateFollowUp.monthValue : dateFollowUp.monthValue }-${(dateFollowUp.dayOfMonth + "").length === 1 ? '0' + dateFollowUp.dayOfMonth: dateFollowUp.dayOfMonth }`
        document.getElementById('dateFollowUp1').value = `${dateFollowUp1.year}-${(dateFollowUp1.monthValue + "").length === 1 ? '0' + dateFollowUp1.monthValue : dateFollowUp1.monthValue }-${(dateFollowUp1.dayOfMonth + "").length === 1 ? '0' + dateFollowUp1.dayOfMonth: dateFollowUp1.dayOfMonth }`
        document.getElementById('dateDelivery').value = `${dateDelivery.year}-${(dateDelivery.monthValue + "").length === 1 ? '0' + dateDelivery.monthValue : dateDelivery.monthValue }-${(dateDelivery.dayOfMonth + "").length === 1 ? '0' + dateDelivery.dayOfMonth: dateDelivery.dayOfMonth }`

        $('#alert-project').hide()

        // TODO(carlendev) add modal for deletion
        $('#delete-button').click(function (e) {
            e.preventDefault()
            $("#deleteModal").addClass("is-active")
        })

        $("#closeDeleteModalButton").click(function(e) {
            e.preventDefault()
            $("#deleteModal").removeClass("is-active")
        })

        $("#confirmDeleteProjectButton").click(function(e) {
            e.preventDefault()
            $(this).prop('disabled', true)
            $.ajax({
                type: 'delete',
                url: `/api/projects/${id}`,
                success: () => {
                window.location.href = `/admin`
            $(this).prop('disabled', false)
        },
            error: () => {
                $('#alert-project').show().html(`<ul><li>Cannot delete project</li></ul>`)
                $(this).prop('disabled', false)
            }
        })
        })

        const statusState = [
            { status: 'En Creation', id: 0 },
            { status: 'Lance', id: 1 },
            { status: 'Valide', id: 2 },
            { status: 'Follow-Up 1', id: 3 },
            { status: 'Follow-Up 2', id: 4 },
            { status: 'Delivery', id: 5 },
            { status: 'Termine', id: 6 }
        ]

        $('#status-btn').click(function (e) {
            $(this).prop('disabled',true)
            e.preventDefault()
            const statusText = $('#status').find(":selected").text()
            const status = statusState.find(e => e.status === statusText).id
            $.ajax({
                type: 'post',
                url: `/api/admin/projects/status`,
                data: JSON.stringify({ status, id }),
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    window.location.href = `/admin/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.message
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#statusError').show().html(`<h5>Wrong status format</h5>`)
                        return;
                    }
                    $('#statusError').show().html(`<h5>${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        $('#project-btn').click(function (e) {
            $(this).prop('disabled',true)
            e.preventDefault()
            const nameVal = $('#name').val()
            const name = !nameVal.length ? null : nameVal;
            const spices = $('#spices').val()
            const description = $('#description').val()
            const followUp = $('#followUp').val()
            const dateFollowUp = $('#dateFollowUp').val()
            const followUp1 = $('#followUp1').val()
            const dateFollowUp1 = $('#dateFollowUp1').val()
            const delivery = $('#delivery').val()
            const dateDelivery = $('#dateDelivery').val()
            $.ajax({
                type: 'put',
                url: `/api/projects/${id}`,
                data: JSON.stringify({ name,
                    spices,
                    description,
                    followUp,
                    dateFollowUp: date(dateFollowUp) != 'T00:00:00' ? date(dateFollowUp) : undefined,
                    followUp1,
                    dateFollowUp1: date(dateFollowUp1) != 'T00:00:00' ? date(dateFollowUp1) : undefined,
                    delivery,
                    dateDelivery: date(dateDelivery) != 'T00:00:00' ? date(dateDelivery) : undefined }),
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    window.location.href = `/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.errors
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#alert-project').show().html(`<ul><li>Wrong date or spice format</li></ul>`)
                        return;
                    }
                    const errors = responseError.reduce((acc, curr) => {
                        acc.push(`${curr.field} ${curr.defaultMessage}`)
                        return acc
                    }, []);
                    $('#alert-project').show().html(`<ul>${errors.map(e => `<li>${e}</li>`).join('')}</ul>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        $('.delete-btn-bet').click(function (e) {
            $(this).prop('disabled', true)
            e.preventDefault()
            const idDelete = $(this).attr('name').split('-').pop();
            $.ajax({
                type: 'delete',
                url: `/api/bets/${idDelete}`,
                success: () => {
                    window.location.href = `/admin/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.error
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#betError').show().html(`<h5 class="title is-5">Wrong bet format</h5>`)
                        return;
                    }
                    $('#betError').show().html(`<h5 class="title is-5">${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        $('.delete-btn-validation').click(function (e) {
            $(this).prop('disabled', true)
            e.preventDefault()
            const idDelete = $(this).attr('name').split('-').pop();
            $.ajax({
                type: 'delete',
                url: `/api/validations/${idDelete}`,
                success: () => {
                    window.location.href = `/admin/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.error
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#validationError').show().html(`<h5 class="title is-5">Wrong validation format</h5>`)
                        return;
                    }
                    $('#validationError').show().html(`<h5 class="title is-5">${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })
    })
</script>
</body>
</html>
