<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Spices</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Spices List</h1>
    </div>

    <h2>Users</h2>
    <ul class="list-group-item" style="list-style-type: none;" th:each="task,iter : ${users}">
        <li>
            <span class="label label-info" style="margin-right: 10px;" th:text="${users[iter.index].spices}"></span>
            <strong style="margin-right: 10px;" th:text="${users[iter.index].email}"></strong>
        </li>
    </ul>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
