<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Spices</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="section">
    <div class="container">

        <h1 class="title is-2 border">Spices List</h1>
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>User email</th>
                    <th>Spice</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task, iter : ${users}">
                    <td>
                        <span th:text="${users[iter.index].email}"></span>
                    </td>
                    <td><span  th:text="${users[iter.index].spices}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
