<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | User</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>


<section class="section">
    <div class="container">
        <h4 class="title is-4 border">Your informations</h4>
        <p><strong th:inline="text">[[${#httpServletRequest.remoteUser}]]</strong></p>
        <p >You have <strong th:text="${user.spices}"></strong> spices</p>
        <div class="has-border-top">
            <h2 class="title is-4 border">Your Current Projects</h2>
            <div class="columns">
                <div class="column is-3" th:each="task,iter : ${myProjects}">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <a style="margin-right: 10px;" th:href="@{'/project/' + ${myProjects[iter.index].id}}">
                                    <strong th:text="${myProjects[iter.index].name}"></strong>
                                </a>
                            </div>


                            <div class="media-right">
                                <span class="label label-info" th:text="${myProjects[iter.index].spices}"></span>

                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <h2 class="title is-4 border">Your Finish Projects</h2>
            <div class="columns">
                <div class="column is-3" th:each="task,iter : ${myFinishProjects}">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <a style="margin-right: 10px;color: #63cd6d" th:href="@{'/project/' + ${myFinishProjects[iter.index].id}}">
                                    <strong th:text="${myFinishProjects[iter.index].name}"></strong>
                                </a>
                            </div>


                            <div class="media-right">
                                <span class="label label-info" th:text="${myFinishProjects[iter.index].spices}"></span>

                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <h2 class="title is-4 border">Your bets</h2>
            <ul class="list-group-item" style="list-style-type: none;" th:each="task,iter : ${bets}">
                <li>
                    <span class="label label-info" style="margin-right: 10px;" th:text="${bets[iter.index].spices}"></span>
                    <a style="margin-right: 10px;" th:href="@{'/project/' + ${projects[iter.index].id}}">
                        <strong th:text="${projects[iter.index].name}"></strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>