<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Project | Contributors</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <div th:if="${notFound != null}">
            <div class="alert alert-danger">
                <span th:text="${notFound}"></span>
            </div>
        </div>
        <div th:if="${notFound == null}">
            <h1>Project <span th:text="${project.name}"></span></h1>
            <ul style="padding-left: 0;">
                <ul style="padding-left: 0;">
                    <li class="list-group-item">
                        <strong>
                            <span class="label label-info" style="margin-right: 10px;">Status</span>
                        </strong>
                        <span th:if="${project.status == 0}">En Création</span>
                        <span th:if="${project.status == 1}">Lancé</span>
                        <span th:if="${project.status == 2}">Validé</span>
                        <span th:if="${project.status == 3}">Follow-Up 1</span>
                        <span th:if="${project.status == 4}">Follow-Up 2</span>
                        <span th:if="${project.status == 5}">Delivery</span>
                        <span th:if="${project.status == 6}">Terminé</span>
                        <span th:if="${project.status == 7}">Terminé</span>
                    </li>
                </ul>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Description</span></strong><span th:text="${project.description}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Asked Spices</span></strong><span th:text="${project.spices}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Current Spices</span></strong><span th:text="${project.currentSpices}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">FollowUp</span></strong><span th:text="${project.followUp}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp</span></strong><span th:text="${project.DateFollowUp}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">FollowUp 1</span></strong><span th:text="${project.followUp1}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Date FollowUp 1</span></strong><span th:text="${project.DateFollowUp1}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Delivery</span></strong><span th:text="${project.delivery}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Date Delivery</span></strong><span th:text="${project.dateDelivery}"></span></li>
                <li class="list-group-item"><strong><span class="label label-info" style="margin-right: 10px;">Developer</span></strong><span th:text="${user.email}"></span></li>
            </ul>
            <h2 class="title is-2">Contributors</h2>
            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="email" id="contributor" placeholder="Email" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <button id="contributor-btn" class="button is-primary">Add contributor</button>
                </div>
            </div>
            <div id="contributorError" class="has-text-danger" style="display: none;"></div>
            <ul class="list-group-item" style="list-style-type: none;" th:each="task,iter : ${contributors}">
                <li>
                    <div class="columns">
                        <div class="column is-three-quarters">
                            <strong th:text="${contributors[iter.index].username}"></strong>
                        </div>
                        <div class="column">
                            <button class="button is-danger delete-btn" th:name="@{'delete-' + ${contributors[iter.index].id}}">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>
            </div>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    $(document).ready(() => {
        /*<![CDATA[*/
        const id = [[${project.id}]]
        /*]]>*/

        $('#contributor-btn').click(function (e) {
            $(this).prop('disabled', true)
            e.preventDefault()
            const contributor = $('#contributor').val()
            $.ajax({
                type: 'post',
                url: `/contributor/project/${id}`,
                data: JSON.stringify({ email: contributor, projectId: id }),
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    window.location.href = `/contributor/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.error
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#contributorError').show().html(`<h5>Wrong contributor format</h5>`)
                        return;
                    }
                    $('#contributorError').show().html(`<h5>${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })

        $('.delete-btn').click(function (e) {
            $(this).prop('disabled', true)
            e.preventDefault()
            const idDelete = $(this).attr('name').split('-').pop();
            $.ajax({
                type: 'delete',
                url: `/contributor/${idDelete}`,
                success: () => {
                    window.location.href = `/contributor/project/${id}`
                    $(this).prop('disabled', false)
                },
                error: error => {
                    const responseError = error.responseJSON.error
                    if (responseError === undefined) {
                        $(this).prop('disabled', false)
                        $('#contributorError').show().html(`<h5>Wrong contributor format</h5>`)
                        return;
                    }
                    $('#contributorError').show().html(`<h5>${responseError}</h5>`)
                    $(this).prop('disabled', false)
                }
            })
        })
    })
</script>
</body>
</html>
