<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </div>
</head>

<body style="display: flex; min-height: 100vh; flex-direction: column;">
    <div th:fragment="header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a th:href="@{/}" class="navbar-item" th:classappend="${#httpServletRequest.getRequestURI() == '/home' || #httpServletRequest.getRequestURI() == '/' ? 'is-active' : ''}">Home</a>
                <button class="button navbar-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" th:href="@{/about}" th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'is-active' : ''}">About</a>
                    <a class="navbar-item" th:href="@{/project/all}" sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/project/all' ? 'is-active' : ''}">Projects</a>
                    <a class="navbar-item" th:href="@{/project/new}" sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/project/new' ? 'is-active' : ''}">Create</a>
                    <a class="navbar-item" th:href="@{/project/my}" sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/project/my' ? 'is-active' : ''}">My Projects</a>
                    <a class="navbar-item" th:href="@{/user}" sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/user' ? 'is-active' : ''}">Profile</a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'is-active' : ''}">Admin</a>
                    <a class="navbar-item" th:href="@{/login}" sec:authorize="!isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'is-active' : ''}">Login</a>

                    <a class="navbar-item" th:href="@{/logout}" sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'is-active' : ''}">
                        <span class="icon">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

</body>

</html>