<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | About</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<section class="section">
    <div class="container">
        <h2 class="title is-2 border">Mobile version</h2>
        <a href="./android-@guillaumetran-homer-576febec-2166-11e8-bf42-0a580a782415-signed.apk" download="android-@guillaumetran-homer-signed.apk" class="button is-link">Download android apk</a>
	<h2 class="title is-2 border" style="margin-top: 25px;">HOMER GITHUB</h2>
        <a href="https://github.com/Epi-Tools/homer" style="margin-top: 25px;" class="button is-link">Homer Github</a>
    	<h2 class="title is-2 border" style="margin-top: 25px;">HOMER Mobile GITHUB</h2>
        <a href="https://github.com/Epi-Tools/homer.mobile" class="button is-link">Homer Mobile Github</a>
    	<h2 class="title is-2 border" style="margin-top: 25px;">Blih</h2>
        <a href="https://github.com/Epi-Tools/ModernBlih" class="button is-link">Blih Github</a>
    </div>
</section>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
