<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | About</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<section class="section">
    <div class="container">
        <h2 class="title is-2 border">Mobile version</h2>
        <a href="./android-@guillaumetran-homer-576febec-2166-11e8-bf42-0a580a782415-signed.apk" download="android-@guillaumetran-homer-signed.apk" class="button is-link">Download android apk</a>
    </div>
</section>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>