<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOMER | Home</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1>Projects</h1>
        <h2><a th:href="@{/admin}">Admin page</a></h2>
        <h2><a th:href="@{/user}">User page</a></h2>
        <h2><a th:href="@{/about}">Normal page</a></h2>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>