<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HOMER | Login</title>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>

    <div th:replace="fragments/header :: header" />

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <h1 class="title is-2 border">Please sign in</h1>
                    <div id="alert-login" class="notification is-danger" style="display: none;">
                        Invalid username and password.
                    </div>
                    <div class="notification is-warning" th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <div class="field ">
                        <label class="label ">Mail</label>
                        <div class="control ">
                            <input class="input" type="text" name="username" id="username" required="true" />
                        </div>
                    </div>
                    <div class="field ">
                        <label class="label ">Password</label>
                        <div class="control ">
                            <input class="input" type="password" name="password" id="password" required="true" />
                        </div>
                    </div>
                    <button class="button is-link is-fullwidth" id="login-btn">Sign in</button>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="fragments/footer :: footer" />
    <script>
        $(document).ready(() => {
            $('#alert-login').hide()
            $('#login-btn').click(e => {
                e.preventDefault();
                const username = $('#username').val()
                const password = $('#password').val()
                $.ajax({
                    type: 'post',
                    url: '/login',
                    data: { username, password },
                    success: () => window.location.href = '/',
                    error: () => $('#alert-login').show()
                })
            })
        })
    </script>
</body>

</html>